//# Use //
@use '../../../Shared/styles/mixins/no-select' as no-select;
@use '../../../Shared/styles/default/layout' as layout;
@use '../../../Shared/styles/default/text' as text;
@use '../../../Shared/styles/default/border-radius' as border-radius;
@use '../../../Shared/styles/default/title-categories' as title-categories;

.featuredtitles {
    width: layout.$layout-default-width;

    &__link {}

    &__item {
        display: flex;
        gap: 20px;

        &-img {
            height: 100%;
            width: 20%;
            border-radius: border-radius.$border-radius;
            @include no-select.no-select;
        }

        &-name {
            margin: 0;
            font-size: text.$font-size2;
        }

        &-section {
            display: flex;
            flex-direction: column;

            width: 70%;

            gap: 10px;
        }

        &-list {
            list-style: none;
            margin: 0;
            padding: 0;

            display: flex;
            flex-wrap: wrap;

            gap: 5px;
        }

        &-synopsis {
            font-size: text.$font-size5-5;
        }

        &-authors {
            margin: 0;
            margin-top: auto;

            font-weight: bold;
            font-size: text.$font-size5;
            color: var(--color1)
        }

        &-contentRating {
            @include title-categories.cat-contentRating('medium');
        }

        &-demographic {
            @include title-categories.cat-demographic('medium');
        }

        &-genre {
            @include title-categories.cat-genre('medium');
        }

        &-theme {
            @include title-categories.cat-theme('medium');
        }
    }

}