$light-theme: (
    //.. Background
    background-color: rgb(245, 245, 245),
    //.. Colors 
    color1: rgb(255, 255, 255),
    color2: rgb(7, 167, 241),
    color3: rgb(138, 209, 241),
    //.. Button
    button-color: rgb(0, 153, 255),
    button-shadow: rgb(58, 58, 58),
    //.. Text
    text-color: black,
    //.. Icon
    icon-color: rgb(0, 0, 0)
)