$light-theme: (
    //.. Background
    background-color: rgb(245, 245, 245),
    //.. Colors 
    color1: rgb(255, 255, 255),
    color2: rgb(7, 167, 241),
    color3: rgb(138, 209, 241),
    //.. Text
    text-color: black,
)