//# Use //
@use '../../config/Scss/default/border-radius' as border-radius;
@use '../../config/Scss/default/transition-time' as transition-time;

.button {
    width: 17.5%;
    height: 50px;

    border: 1px solid var(--button-color);
    border-radius: border-radius.$border-radius;
    background-color: var(--button-color);

    &:hover, &:focus {
        transition: filter transition-time.$transition-time ease;

        cursor: pointer;
        filter: brightness(80%);
    }
}