//# Use //
@use '../../Scss/default/text.scss' as text;
@use '../../Scss/mixins/no-select' as no-select;

.text {
    display: flex;
    color: text.$cor;

    &-title {
        font-size: 25px;
        font-weight: 1000;
    }

    &-margin {
        margin: 10px;
    }

    &-no-select {
        @include no-select.no-select;
    }

    &-not-exceed {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }
}