@use './Scss/mixins/CustomProps.scss' as CustomProps;
@use './Scss/default/text.scss' as text;
@use './Scss/themes.scss' as themes;

:root {
 @include CustomProps.CustomProps(themes.$light-theme)
}

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: text.$font-family;
}